// Primary colors
$color-primary-red: hsl(0, 78%, 62%);
$color-primary-cyan: hsl(180, 62%, 55%);
$color-primary-orage: hsl(34, 97%, 64%);
$color-primary-blue: hsl(212, 86%, 64%);

// Neutral colors
$color-blue-dark: hsl(234, 12%, 34%);
$color-blue-grayish: hsl(229, 6%, 66%);
$color-gray-light: hsl(0, 0%, 98%);
